body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Borde alrededor del contenedor */
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header img {
  width: 400px;
  height: 400px;
  float: right;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid black; /* Borde alrededor de la imagen */
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px solid black; /* Línea inferior debajo del título */
  padding-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Línea inferior debajo del subtítulo */
  padding-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc; /* Borde alrededor de la información */
}

.info i {
  font-size: 1.5em;
  margin-right: 10px;
}

.section {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc; /* Borde alrededor de las secciones */
}

.section h2 {
  margin-top: 0;
  background-color: rgb(13, 241, 165);
}

.bordes {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.list li span {
  font-weight: bold;
  margin-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  border-top: 2px solid black; /* Línea superior en el pie de página */
  background-color: #f4f4f4;
}

.footer p {
  margin-bottom: 0;
}